@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-tomato-red: #E94E77;
  --color-custom-peach: #ef6151;
  --color-lime-green: #A3D55C;
  --color-honey-yellow: #FFB74D;
  --color-warm-beige: #F4E1C1;
  --color-dark-chocolate: #5C4033;
  --color-custom-white: #333;
  --breakpoint-2xl: 90rem;
  --font-roboto: "Roboto", sans-seriaaf;
  --font-quicksand: 'Quicksand', sans-serif;
  --breakpoint-tablet-sm: 40rem;
  --breakpoint-tablet-lg: 56.25rem;
}

.custom-container {
  @apply p-4 lg:p-8 mx-auto container;
}

.heading-text {
  @apply font-roboto font-bold;
}

.subheading-text {
  @apply font-quicksand;
}

.heading-hover {
  @apply transition duration-300 hover:opacity-60
}

.hover-scale {
  @apply cursor-pointer transition duration-300 ease-in-out hover:scale-110
}